* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald';
}

.menu {
    align-items: center;
    background-color: #FDE74C;
    display: flex;
    overflow: hidden;

}

.menu #myLinks {
    display: flex;
}

.menu a {
    color: #000;
    display: block;
    font-size: 17px;
    padding: 5px 16px;
    text-decoration: none;
}

.menu a.icon {
    display: none;
    position: absolute;
}

.menu img {
    width: 30px;
}

.about {
    margin: 15px 15px 15px;
}

.headerabout {
    border-bottom: 2px solid #FDE74C;
    flex-direction: column;
    margin-bottom: 15px;
}

.headerabout h1 {
    text-align: center;
}

.headerabout p:last-of-type {
    text-align: right;
    margin-bottom: 5px;
}

hr {
    display: none;
}

.bodyabout {
    border-bottom: 2px solid #FDE74C;
}

.bodyabout img {
    border: 2px solid #FDE74C;
    width: 100%;
}

.bodyabout p {
    margin: 0 0 5px 0;
}

.skills {
    border-bottom: 2px solid #FDE74C;
    margin: 15px 15px 15px;


}

.headerskills {
    background-color: #FDE74C;
    border-radius: 5px;
    width: 90%;
}

.headerskills h2 {
    text-align: center;
}



.bodyskills {
    display: block;
}

.bodyskills img,
.bodyskills span {
    margin: 0;
    width: 25px;
    padding: 0;
}

.html,
.github,
.css {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.contactme {
    margin: 15px 15px 15px;

}

.headercontactme {
    background-color: #FDE74C;
    border-radius: 5px;
    width: 90%;
}

.headercontactme h2 {
    text-align: center;
}
.bodycontactme {
    display: flex;
    justify-content: center;
}

.bodycontactme a {
    margin: 15px 0;
}

.bodycontactme img {
    width: 35px;
    padding: 0;
}

footer {
    background-color: #FDE74C;
    padding: 5px;
}

footer * {
    text-align: center;
}

@media screen and (min-width: 600px) {
    header {
        background-color: #FDE74C;
    }

    main {
        max-width: 600px;
    }
    
    .menu {
        max-width: 300px;
    }

    .about {
        margin: 15px 15px 15px;
    }
    
    .headerabout {
        border-bottom: 0;
        flex-direction: column;
        max-width: 300px;
        margin-bottom: 15px;
    }
    
    .headerabout h1 {
        text-align: center;
    }
    
    .headerabout p:last-of-type {
        text-align: right;
        margin-bottom: 5px;
    }

    hr {
        border: 1px solid #FDE74C;
        height: 2px;
        display: block;
        margin-bottom: 15px;
    }
    
    .bodyabout {
        border-bottom: 2px solid #FDE74C;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'left right right'
            'left bottom bottom'
            'left bottom bottom';
        display: grid;
        padding-bottom: 15px;
    }

    .gridleft {
        grid-area: left;
    }

    .gridright {
        grid-area: right;
    }

    .gridbottom {
        grid-area: bottom;
    }

    .bodyabout img {
        border: 2px solid #FDE74C;
        width: 100%;
    }
    
    .bodyabout p {
        margin: 0 0 0px 0;
    }
}